<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}}!</p>
  <br>
  <p>Recebemos a sua solicitação de redefinição de senha para o a sua conta de usuário.</p>
  <p>Se foi você, clique no link abaixo para redefinir a sua senha.</p>
  <p><a href="{{link}}">Redefinir a minha senha</a></p>
  <p>Caso não tenha sido você, desconsidere este e-mail</p>
  <br>
  <p>Obrigado!</p>
</div>
